html, body {
  width: 100%;
  height: 100%;
  margin:0px;
  padding:0px;
  font-size:18px !important;
    font-family: 'Ubuntu', sans-serif;}

.sidenav {
    height: 100%;
    width: 65px;
    padding: 2px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    align:center;
    text-align:center;
}

.sidenav a {
    margin:5px;
    background-color:#d4d4de69;
    padding:8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    border-radius: 8px;
    margin-top: 8px;
    border:1px solid #b9b6b6;
}
.sidenav a:hover {
    background-color:#e8e8ece8;
}
.sidenav a img {
    width: 35px;
}

.input-query {
	background-color: transparent;
    border: 0px;
    width: 500px;
    color:#f9f5f5;
    font-size:18px;
}

@keyframes blinking {
    0%   {background-color: #f9f5f5 ;}
    50%  {background-color: transparent;}
}


.table-bordered>tbody>tr>td{
  border: 1px solid #ddd;
  padding: 10px;
  width: 60px;
}
div.close-bar{
	height:25px;
	padding-left: 10px;
	background-color: #4d52568c;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.display-table{
  color: white;
  font-weight: 800;
  padding: 3px;
}
.table .thead-light th {
    color: white !important;
    background-color: #0003129e !important;
    border-color: #474b50 !important;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #222e3a !important;
    color:black;
}


.bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bdc3c7;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.search-bar {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 80px;
}

.search-bar p {
  font-size: 16px;
  color: #fff;
}

.search-bar .action {
    text-align: right;
    margin-bottom: 0;
}

.search-bar .action a {
    color: inherit;
    font-size: 14px;
}

.search-bar .input {
  width: 100%;
  padding: 10px;
  color: #2c3e50;
  border: 1px solid #2c3e50;
  border-radius: 2px;
}

input[type="text"] {
  -webkit-box-shadow: 1px 1px 21px 3px rgba(0,0,0,.2);
-moz-box-shadow: 1px 1px 21px 3px rgba(0,0,0,.2);
box-shadow: 1px 1px 21px 3px rgba(0,0,0,.2);
transition: all 0.3s;
}

input[type=text]:focus {
    outline: none;
    -webkit-box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.5);
box-shadow: 1px 1px 21px 3px rgba(0,0,0,0.5);
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

thead tr {
    background-color: #36304a;
    color: #fff;
    line-height: 1.2;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

tbody tr {
    color: #808080;
    line-height: 1.2;
}

.results span {
    color: #fff;
}

.results img {
    display: block;
    margin: 0 auto;
}